
# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# pyenv
.python-version

# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# thumbnail cache on Windows
Thumbs.db

# profiling data
.prof

#manually added
.vscode
*.pyc
django/backend/media/photos
flutter/hamro_kakshya/assets/env